@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
span {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
.multi-button {
  z-index: 1;
  border: solid ;
}
.btn {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Francois One', sans-serif;
  font-size: 20px;
  height: 60px;
  width: 120px;
  background: none;
  transition: all ease 0.3s;
}
.btn:hover {
  background-color: rgba(0,0,0,0.2);
}
.btn .a {
  display: inline;
  transition: all ease 0.3s;
}
.btn .b {
  display: none;
  transition: all ease 0.3s;
}
.btn:hover {
  cursor: pointer; 
}
.btn:hover .a {
  display: none;
}
.btn:hover .b {
  display: inline;
}
.btn:active {
  transform: scale(0.95);
  box-shadow: 4px 4px 15px rgba(0,0,0,0.4); 
}